body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    color: black;
}

.title{
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.links{
    background-color: orange;
    font-size: 24px;
    color: white;
}
.title.small{
    background-color: green;
}